
<li class="side-nav-item">
    <a data-bs-toggle="collapse" href="#subscriberPanel" aria-expanded="false" aria-controls="productPanel" class="side-nav-link">
        <i class="mdi mdi-person"></i>
        <span>Abunələr </span>
        <span class="menu-arrow"></span>
    </a>
    <div class="collapse" id="subscriberPanel">
        <ul class="side-nav-second-level">
            <li>
                <a asp-controller="Subscribers" asp-action="SendMessageAll">
                   
                    Toplu mesaj 
                </a>
            </li>
            <li>
                <a asp-controller="Subscribers" asp-action="AllSubscribers">
                    <span class="badge bg-success float-end" id="allSubscribers"></span>
                      Bütün Abunələr
                   
                </a>
            </li>
        </ul>
    </div>
</li>