@inject LanguageService language
<div class="col-md-auto align-self-center">
    <div class="d-flex">
        <ul class="d-flex list-unstyled mb-0">
            <li class="col">
                <a asp-controller="Basket" asp-action="Compare" class="text-gray-90" data-toggle="tooltip" data-placement="top" title="@language.GetKey("Müqayisə")">
                    <i class="font-size-24 ec ec-compare"></i>
                    <span id="compare-product-count" class="width-22 height-22 bg-dark position-absolute flex-content-center text-white rounded-circle left-12 top-8 font-weight-bold font-size-12">0</span>
                </a>
            </li>
            <li class="col">
                <a asp-controller="Shop" asp-action="Wishlist" class="text-gray-90" data-toggle="tooltip" data-placement="top" title="@language.GetKey("Favorit")">
                    <i class="font-size-24 ec ec-favorites"></i>
                    <span id="wish-product-count" class="width-22 height-22 bg-dark position-absolute flex-content-center text-white rounded-circle left-12 top-8 font-weight-bold font-size-12">0</span>
                </a>
            </li>
            <li class="col pr-0">
                <a href="#" aria-controls="basketContent"
                   aria-haspopup="true"
                   aria-expanded="false"
                   data-unfold-event="click"
                   data-unfold-hide-on-scroll="false"
                   data-unfold-target="#basketContent"
                   data-unfold-type="css-animation"
                   data-unfold-animation-in="fadeInRight"
                   data-unfold-animation-out="fadeOutRight"
                   data-unfold-duration="500"
                class="text-gray-90 position-relative d-flex" data-toggle="tooltip" data-placement="top" title="@language.GetKey("Səbət")">
                    <i class="font-size-24 ec ec-shopping-bag"></i>
                    <span id="cart-count" class="width-22 height-22 bg-dark position-absolute flex-content-center text-white rounded-circle left-12 top-8 font-weight-bold font-size-12">0</span>
                    <span id="cart-price" class="font-weight-bold font-size-16 text-gray-90 ml-3"></span> <i class="fa-solid fa-manat-sign font-size-23"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

