@model MakeIsSaleDTO
@{
    ViewData["Title"] = "MakeIsSale";
    Layout = "~/Areas/GoldManagementPanel/Views/Shared/_GoldManagementLayout.cshtml";
}
<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-6">
                <div class="page-title-box">

                    <h4 class="page-title">Endirimli et</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane show active" id="input-types-preview">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form method="post">

                                            <div class="mb-3">
                                                <label  class="form-label">Endirim məbləği</label>
                                                <input type="number" asp-for="SalesPrice"  name="SalesPrice" class="form-control" step="0.01" min="0">
                                            </div>
                                            <div class="mb-3">
                                                <label  class="form-label">Endirim üçün son tarix</label>
                                                <input type="date" asp-for="LastDateForIsSale" name="LastDateForIsSale" class="form-control">
                                            </div>
                                            <div class="row">
                                                <div class="text-center">
                                                    <button class="btn btn-primary" type="submit">Əlavə et</button>
                                                    <a class="btn btn-success" asp-action="AllProducts">Geri</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>


                                </div>

                            </div> <!-- end preview-->
                            <!-- end preview code-->
                        </div> <!-- end tab-content-->
                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div>
        </div>


    </div>

</div>
